$theme-colors: (
    'primary': #67DDBB,
    'secondary': #67C4DD,
    'info': #6789DD,
    'warning': #BB67DD,
    'danger': #DD67C4,
    'light': #c5c5c5
);

#photo-size {
    height: 250;
    width: 250;
}

#photo-padding-top {
    margin-top: 40;
    padding-top: 40;
}

::placeholder {
    color: #bdbdbd !important;
}

#hover:hover{color:#ffffff};

#plantstagram {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-shadow: 2px 2px rgb(173, 251, 229);
}

@media screen and (max-width:500px){
    h2{
        font-size:35px !important;
    }  
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr.linedivide{
	border-top: 1px solid #c5c5c5;
}

.iconfontsize {
    font-size: 40px;
}

@media screen and (max-width:500px){
    .iconfontsize{
        font-size:25px !important;
    }  
}

.shadow-effect {
    box-shadow: 2px 2px rgb(173, 251, 229), 2px 2px rgb(173, 251, 229);
}

// .text-shadow {
//     text-shadow: 1px 1px rgb(0, 0, 0);
// }

.logout {
    align-items: flex-end;
    margin-right: 10px;
}

.custom-center {
    margin: auto;
    width: 200px;
}

@media screen and (max-width:500px){
    .custom-center {
        margin: auto;
        width: 120px;
    }
}

@media screen and (max-width:500px){
    .background-width {
        margin: auto;
        width: 80px;
    }
}

@media screen and (max-width:500px){
    .border-primary{
        border-color: white;
    }  
}

@media (max-width:500px) {
    #clear-border
    {
      border: 0 solid !important;
      background: none !important;
      }
}
  
[hidden] {
    display: none !important;
}

.bg {
    /* Location of the image */
    // background-image: url(images/plants1.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #ffffff;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
